.consultation {
    padding: 100px 0 92px 0;
    min-height: 680px;
    background: url(../img/bg/bg_two.png)center (center/cover) no-repeat;
    &__descr {
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
    }

}